:root {
    // light theme (default)
    --color-primary: #1e1870;
    --color-primary-hover: #56569b;
    --color-primary-link: rgb(86, 86, 155);
    --color-primary-link-hover: rgb(66, 66, 122);
    
    --color-background: #F2F2FF;
    --color-surface: #ffffff;
    --color-input-background: #f3f5f7;
    
    --color-border: rgb(223, 227, 231);
    
    --color-text-primary: rgb(26, 21, 35);
    --color-text-secondary: #606067;
    --color-text-tertiary: rgb(96, 99, 103);

    --color-button-secondary: rgb(243, 244, 246);
    --color-button-secondary-hover: rgb(229, 231, 235);
    --color-button-ligh-purple: rgb(242, 242, 255);
    --color-button-light-purple-hover: rgb(225, 225, 249);

    --light-orange: #feefec;
    --mid-orange: #FDDFD8;
    --dark-orange: #f4603e;

    --light-green: #F0FDF4;
    --mid-green: #BBF7D0;
    --dark-green: #16A34A;
    
    --light-purple: #E1E1F9;
    --mid-purple: #a1a1d3;
    --dark-purple: #262175;

    --color-button-disabled: #575294;

    // Font family variables
    --font-family-primary: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    --font-family-mono: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    --font-family-serif: 'IBM Plex Serif', serif;
}

// dark theme: to do
[data-theme="dark"] {
    // We'll implement dark theme colors later
    // Placeholder for dark theme variables
}