@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  // had to add this bcs the dashboard was causing scroll bar to appear while other pages did not
  // thus resulting in movement of elements between different routerLinkActive pages
  overflow-y: scroll; // always show vertical scrollbar
}

// global input and select styles
input,
select {
    background-color: var(--input-background);
    color: var(--input-text);
    font-family: var(--font-family-primary);
    border-radius: 0.5rem;
    padding: 0.75rem 0.9375rem;
    width: 100%;
    font-size: 0.875rem;
    border: 1px solid var(--input-background);
    transition: border-color 0.2s ease;

    &::placeholder {
        color: var(--input-placeholder);
    }

    &:hover {
        border-color: var(--input-hover-border);
    }

    &:focus {
        outline: none;
        border-color: var(--input-focus-border);
    }
}

