@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-color: white;
}

html {
  // had to add this as if dashboard was causing the scroll bar to appear while other pages did not
  // thus resulting in movement of elements between different routerLinkActive pages
  overflow-y: scroll; /* Always show vertical scrollbar */
}
