.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    background-color: var(--color-surface);
    border-bottom: 1px solid var(--color-border);
}

.navbar-brand {
    min-width: 18rem;
    a {
        color: var(--color-primary);
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
    }
}

.nav-links {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex: 1;

    button {
        position: relative; 
        color: var(--color-text-secondary);
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1rem;
        line-height: 1.25rem;
        padding: 0.6rem 0.8rem;
        border-radius: 0.5rem;
        font-family: 'IBM Plex Sans', sans-serif;
        
        &:hover {
            background-color: var(--light-orange);
            color: var(--dark-orange);
        }

        &.active {
            color: var(--dark-orange);
            
            &::after {
                content: '';
                position: absolute;
                text-align: center;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0.6875rem);
                width: 80%;
                height: 1px;
                background-color: var(--dark-orange);
            }
        }
    }
}

.logout-settings {
    display: flex;
    gap: 1rem;
    min-width: 18rem;
    justify-content: flex-end;

    button {
        border: none;
        cursor: pointer;
        font-size: 1rem;
        line-height: 1.25rem;
        padding: 0.6rem 1rem;
        border-radius: 0.5rem;
        font-family: 'IBM Plex Sans', sans-serif;
    }
    

    .logout-button {
        background-color: var(--light-orange);
        color: var(--dark-orange);
    
        &:hover {
            background-color: var(--mid-orange);
        }
    }
    
    .settings-button {
        position: relative; 
        background-color: transparent;
        color: var(--color-text-secondary);
    
        &:hover {
            background-color: var(--light-orange);
            color: var(--dark-orange);
        }
    
        &.active {
            color: var(--dark-orange);
            
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0.6875rem);
                width: 80%;
                height: 1px;
                background-color: var(--dark-orange);
            }
        }
    }
    
}

.theme-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
        background-color: var(--light-purple);
        color: var(--dark-purple);
    }

    svg {
        width: 20px;
        height: 20px;
    }
}