<div class="dashboard-container">
    <div class="summary-cards">
        <h2>{{ monthlySummary.month }} {{ monthlySummary.year }} Summary</h2>
        <div class="cards-container">
            <div class="card incomeCard">
                <h3>Total Income</h3>
                <p class="amount income">{{ monthlySummary.totalIncomeEUR | currency:'EUR':'symbol':'1.2-2' }}</p>
            </div>
            <div class="card expenseCard">
                <h3>Total Expenses</h3>
                <p class="amount expense">{{ monthlySummary.totalExpensesEUR | currency:'EUR':'symbol':'1.2-2' }}</p>
            </div>
            <div class="card netCard">
                <h3>Net Balance</h3>
                <p class="amount net">{{ monthlySummary.netBalanceEUR | currency:'EUR':'symbol':'1.2-2' }}</p>
            </div>
        </div>
    </div>
    <div class="chartsPlaceholder">

    </div>
    <div class="recent-transaction">
        <div class="header">
            <h2>Recent Transactions</h2>
            <button class="view-all" routerLink="/transactions">View All</button>
        </div>
        <div class="transaction-list">
            <div class="transaction-item" *ngFor="let transaction of recentTransactions">
                <div class="transaction-info">
                    <div class="primary-info">
                        <span class="description">{{ transaction.description }}</span>
                        <span class="category">{{ transaction.category }}</span>
                    </div>
                    <span class="date">{{ transaction.date | date:'mediumDate' }}</span>
                </div>
                <span class="amount" [ngClass]="{'income': transaction.type === 'income', 'expense': transaction.type === 'expense'}">
                    {{ transaction.type === 'income' ? '+ ' : '- ' }}{{ transaction.amount | currency:transaction.currency:'symbol':'1.2-2' }}
                </span>
            </div>
            <div class="no-transactions" *ngIf="recentTransactions.length === 0">
                No recent transactions
            </div>
        </div>
    </div>
</div>