<div class="dashboard-container">
    <div class="summary-cards">
        <div class="card incomeCard">
            <h3>Total Income</h3>
            <p class="amount income">3000</p>
        </div>
        <div class="card expenseCard">
            <h3>Tota Expenses</h3>
            <p class="amount expense">1000</p>
        </div>
        <div class="card netCard">
            <h3>Net Balance</h3>
            <p class="amount">2000</p>
        </div>
        
    </div>
    <div class="chartsPlaceholder">

    </div>
    <div class="recent-transaction">
        <div class="header">
            <h2>Recent Transactions</h2>
            <button class="view-all" routerLink="/transactions">View All</button>
        </div>
        <div class="transaction-list">

        </div>
    </div>
</div>