.dashboard-container {
    padding: 2rem;
    max-width: 80rem;
    margin: 0 auto;

    .summary-cards {
        h2 {
            font-size: 1.25rem;
            color: var(--color-text-primary);
            font-weight: 500;
        }

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .cards-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
            margin-bottom: 2rem;
            .card {
                padding: 1.5rem;
                border: 1px solid var(--color-border);
                text-align: center;

                h3 {
                    font-size: 1rem;
                    color: var(--color-text-secondary);
                    margin-bottom: 0.5rem;
                }

                .amount {
                    font-size: 1.5rem;
                    font-weight: 400;

                    &.income {
                        color: var(--dark-green);
                    }

                    &.expense {
                        color: var(--dark-orange);
                    }

                    &.net {
                        color: var(--dark-purple);
                    }
                }
            }
        }
    }

    // Charts section (placeholder)
    .charts-section {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.5rem;
    }
}

.chartsPlaceholder {
    width: 100%;
    border: 1px solid var(--color-border);
    content: '';
    min-height: 20rem;
    margin-bottom: 2rem;
}

.recent-transaction {
    padding: 1.5rem;
    border: 1px solid var(--color-border);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            font-size: 1.25rem;
            font-weight: 500;
        }

        .view-all {
            color: var(--color-text-secondary);
            background: none;
            border: none;
            cursor: pointer;
            font-size: 0.875rem;
            font-family: var(--font-family-primary);
            padding: 0.6rem 0.8rem;
            border-radius: 0.5rem;
            &:hover {
                color: var(--dark-purple);
                background-color: var(--light-purple);
            }
        }
    }

    .transaction-list {
        .transaction-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.75rem 0;
            border-bottom: 1px solid var(--color-border);

            &:last-child {
                border-bottom: none;
            }

            .transaction-info {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                .primary-info {
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;

                    .description {
                        font-weight: 400;
                    }

                    .category {
                        font-size: 0.75rem;
                        padding: 0.25rem 0.5rem;
                        border-radius: 0.5rem;
                        background-color: var(--light-purple);
                        color: var(--dark-purple);
                    }
                }

                .date {
                    font-size: 0.875rem;
                    color: var(--color-text-secondary);
                }
            }

            .amount {
                font-weight: 400;
                
                &.income {
                    color: var(--dark-green);
                }
                
                &.expense {
                    color: var(--dark-orange);
                }
            }
        }

        .no-transactions {
            text-align: center;
            color: var(--color-text-secondary);
            padding: 1rem 0;
        }
    }
}