<div class="settings-container">
    <div class="alert_success" *ngIf="successMessage">
        <p>{{ successMessage }}</p>
    </div>
    <div class="alert_error" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
    </div>
    <div class="settings-section">
        <h2>Personal Settings</h2>
        <form (ngSubmit)="updateProfile()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" required name="name" [(ngModel)]="user.name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" required name="email" [(ngModel)]="user.email">
            </div>
            <div class="button-container">
                <button type="submit">Update Profile</button>
            </div>
        </form>
    </div>
    <div class="settings-section">
        <h2>Update Password</h2>
        <form (ngSubmit)="updatePassword()">
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" id="currentPassword" required placeholder="Enter current password" name="password" [(ngModel)]="user.password">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" required placeholder="Enter new password" name="newPassword" [(ngModel)]="user.newPassword">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password</label>
                <input type="password" id="confirmPassword" required placeholder="Confirm new password">
            </div>
            <div class="button-container">
                <button type="submit" class="change-password-button">Change Password</button>
            </div>
        </form>
    </div>
    
</div>