<app-auth>
    <div class="login-container">
        <div class="form-container">
            <h2 style="margin-bottom: 15px;">Sign in</h2>
            <form (ngSubmit)="login()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" [(ngModel)]="user.email" name="email" required placeholder="mail@example.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" [(ngModel)]="user.password" name="password" required placeholder="Your password...">
            </div>
            <button type="submit">Sign in</button>
            <div class="password-reset-div">
                <!-- <a class="password-reset-link" routerLink="/reset">Reset Password</a> -->
            </div>
            </form>
        </div>
        <div class="signup-section">
            <p class="need-account">Need an account?</p>
            <button class="signup-button" routerLink="/register">Sign up</button>
        </div>
    </div>
</app-auth>